
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #3498db; /* Màu xanh */
            color: #fff; /* Màu văn bản trắng */
            font-weight: bold; /* Đậm */
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Store Name</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(product){%>
                <tr>
                    <td><%= product.product_name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.quantity %></td>
                    <td><%= product.store_name %></td>
                    <td><%= product.store_address %></td>
                    <td><%= product.store_phone %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/users/logout"> Logout </a>
    <script>
        setTimeout(function() {
        location.reload();
        }, 5000);
      </script>
</body>
</html>

