
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #3498db;
            color: #fff;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1><%= shop %></h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(product){%>
                <form action="/users/crud" method="post">
                    <tr>
                        <td><input type="text" name="id" value="<%= product.id %>" readonly></td>
                        <td><input type="text" name="name" value="<%= product.product_name %>"></td>
                        <td><input type="text" name="price" value="<%= product.price %>"></td>
                        <td><input type="text" name="quantity" value="<%= product.quantity %>"></td>
                        <td>
                            <button type="submit" name="btn" value="update">Update</button>
                            <button type="submit" name="btn" value="delete">Delete</button>
                        </td>
                    </tr>
                </form>
                <% });%>
                <form action="/users/crud" method="post">
                    <tr>
                        <td><input type="text" name="id" value="" readonly></td>
                        <td><input type="text" name="name" value=""></td>
                        <td><input type="text" name="price" value=""></td>
                        <td><input type="text" name="quantity" value=""></td>
                        <td>
                            <button type="submit" name="btn" value="add">Add</button>
                        </td>
                    </tr>
                </form>
        </tbody>
    </table>
    <a href="/users/logout"> Logout </a>
</body>
</html>

